nav {
    display: flex;
    margin-top: 30px;
    margin-left: 15px;
    h1 {
        font-size: 32px;
        width: 70%;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        li {
            display: inline-block;
            margin: 0 45px;
            font-family: 'Roboto', sans-serif;
            font-size: 24px;
            a {
            color: #fff;
            text-decoration: none;
            &:hover {
                color: #ccc;
            }
            }
        }
    }
}



.undergame-container {
    display:flex;
    margin-top: 100px;

    img {
        margin-left: 100px;
    }
    .settings {
        margin: 0 auto;
        h2 {
            font-family: 'Roboto', sans-serif;
            font-size: 40px;
            color: $white;
            border-top: 1px solid $white;
            border-bottom: 1px solid $white;
            padding: 20px;
            width: 500px;
            text-align: center;
        }
    
        h3 {
            font-family: 'Inter', sans-serif; 
            font-size: 15px;
            color: rgba(246, 246, 246, 0.60);
        }

        .settings-options {
            text-align: center;
            margin-top: 50px;
        }

        .option {
            margin-top: 35px;
        }

        .green-bar {
            background-color: $second-color;
            width: 250px;
            height: 35px;
            border-radius: 5px;
            margin: 2px auto;
        }

        .settings-nav {
            display: flex;
            width: 338px;
            margin: 75px auto;

            ul {
                list-style: none;
            }

            li:first-child, li:last-child {
                font-family: 'Inter', sans-serif; 
                background-color: $third-color;
                padding:  2px 20px 2px 20px;
                font-size: 26px;
                font-weight: 600;
                color: $white;
            }

            li:nth-child(2) {
                background-color: $second-color;
            }

            li {
                font-family: 'Roboto', sans-serif;
                background-color: $black;
                padding:  2px 12px 2px 12px;
                font-size: 20px;
                display: inline;
                color: $white;
                border-radius: 5px;
                margin-right: 4px;
            }
        }
    }
}