@import url("https://fonts.cdnfonts.com/css/robot-9000");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #111111;
}

h1 {
  font-family: "Robot 9000", sans-serif;
  color: #F6F6F6;
}

.hook {
  color: #343434;
  margin: 0 5px 0 20px;
}

.slash {
  color: #006452;
  margin-right: 10px;
}

.accueil-container {
  text-align: center;
  color: white;
  margin-top: 100px;
}
.accueil-container h1 {
  font-size: 72px;
}
.accueil-container .subtitle {
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.44);
  font-size: 18px;
}

.buttons-nav {
  margin-top: 5%;
}
.buttons-nav a {
  text-decoration: none;
  color: #F6F6F6;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 12px 24px;
  background-color: #006452;
  border-radius: 5px;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
}
.buttons-nav a:hover {
  background-color: rgba(0, 100, 82, 0.26);
}

nav {
  display: flex;
  margin-top: 30px;
  margin-left: 15px;
}
nav h1 {
  font-size: 32px;
  width: 70%;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
nav ul li {
  display: inline-block;
  margin: 0 45px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}
nav ul li a:hover {
  color: #ccc;
}

.undergame-container {
  margin: 3em 25px;
}
.undergame-container .game-option {
  position: absolute;
  z-index: 1;
}
.undergame-container .game-option div > img {
  width: 50px;
}
.undergame-container .settings {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 20px;
}
.undergame-container .settings h2 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: #F6F6F6;
  border-top: 1px solid #F6F6F6;
  border-bottom: 1px solid #F6F6F6;
  padding: 20px;
  width: 400px;
  text-align: center;
}
.undergame-container .settings h3 {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: rgba(246, 246, 246, 0.6);
}
.undergame-container .settings .settings-options {
  text-align: center;
  margin-top: 50px;
}
.undergame-container .settings .option {
  margin-top: 35px;
}
.undergame-container .settings .green-bar {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  background-color: #006452;
  width: 250px;
  height: 35px;
  border-radius: 5px;
  margin: 2px auto;
}
.undergame-container .settings .settings-nav {
  display: flex;
  width: 338px;
  margin: 75px auto;
}
.undergame-container .settings .settings-nav ul {
  list-style: none;
}
.undergame-container .settings .settings-nav li:first-child, .undergame-container .settings .settings-nav li:last-child {
  font-family: "Inter", sans-serif;
  background-color: rgba(0, 100, 82, 0.26);
  padding: 2px 20px 2px 20px;
  font-size: 26px;
  font-weight: 600;
  color: #F6F6F6;
}
.undergame-container .settings .settings-nav li:nth-child(2) {
  background-color: #006452;
}
.undergame-container .settings .settings-nav li {
  font-family: "Roboto", sans-serif;
  background-color: #262626;
  padding: 2px 12px 2px 12px;
  font-size: 20px;
  display: inline;
  color: #F6F6F6;
  border-radius: 5px;
  margin-right: 4px;
}

/*# sourceMappingURL=style.css.map */
