.sliding {
  background: #fff;
  overflow: hidden;
  color: $white;   
  font-family: 'Roboto', sans-serif;
  margin: 12px 25% 12px 25%;
  transition: all .5s ease-in-out;
  height: 0;
  background-color: rgb(41, 41, 41);
}
.sliding p{
    padding:15px 15px;	
}
.sliding:target {
  height: 125px;
}

.nono-title {
  text-decoration: none;
  color: $white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 12px 24px;
  background-color: $second-color;
  border-radius: 5px;
}

.info-container .subtitle {
  margin-bottom: 25px;
}